---
import type { GetStaticPaths } from "astro";
import { TiltedCard, Button } from "@/components";
import NoAnimatedLayout from "@/layouts/NoAnimatedLayout.astro";
import { getJokers } from "@/core";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async ({ paginate }) => {
  const data = await getJokers(150);

  const jokers = data.map((joker) => ({
    joker_image: joker.joker_image,
    joker: joker.joker,
  }));

  return paginate(jokers, { pageSize: 14 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const currentPage = page.currentPage;
const lastPage = page.lastPage;
const prevPage = currentPage > 1 ? currentPage - 1 : null;
const nextPage = currentPage < lastPage ? currentPage + 1 : null;
---

<NoAnimatedLayout title="Jokers">
  <div class="min-h-[80vh] flex flex-col justify-center text-white">
    <div class="md:w-10/12 2xl:w-9/12 w-11/12 m-auto">
      <div>
        <h1 class="text-7xl text-center">Jokers</h1>
        <a
          href="/"
          class="text-white flex items-center gap-1 w-28 bg-black/60 rounded-xl p-2 mb-2"
        >
          <Icon name="arrow-left" />Go home
        </a>
      </div>

      <div
        class="grid xl:grid-cols-7
        lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2"
      >
        {
          page.data.map((joker) => (
            <div class="flex flex-col items-center">
              <TiltedCard
                client:load
                imageSrc={joker.joker_image}
                containerHeight="200px"
                containerWidth="150px"
                imageHeight="200px"
                imageWidth="150px"
                rotateAmplitude={27}
                scaleOnHover={1}
                showTooltip={false}
                showMobileWarning={false}
              />
              <span class="block mt-1 text-lg">{joker.joker}</span>
            </div>
          ))
        }
      </div>
      <div class="flex justify-between items-center mt-4">
        <a href={`/jokers/${prevPage}`}>
          <Button
            class:list={[
              { "bg-black cursor-pointer": prevPage },
              { "bg-slate-500": !prevPage },
            ]}
            disabled={!prevPage}
          >
            <Icon name="arrow-left" />
            Prev
          </Button>
        </a>

        <span class="text-3xl">
          Page {currentPage} of {lastPage}
        </span>

        <a href={`/jokers/${nextPage}`}>
          <Button
            class:list={[
              { "bg-black cursor-pointer": nextPage },
              { "bg-slate-500": !nextPage },
            ]}
            disabled={!nextPage}
          >
            Next <Icon name="arrow-right" />
          </Button>
        </a>
      </div>
    </div>
  </div>
</NoAnimatedLayout>
